---
import { NAV_PATH_WORKS } from '../shared/constants';
import Card from '../components/Card.astro';
import Page from '../components/Page.astro';
import PageSection from '../components/PageSection.astro';
import MediaLink from '../components/MediaLink.astro';
import { getWorks, getPersonalWorks } from '../shared/collections';

const works = await getWorks();
const personal = await getPersonalWorks();
---

<Page id={NAV_PATH_WORKS} mark="作品">
  <PageSection title="works.personal" subtitle="Latest personal projects">
    <div class="p-stack p-stack--near">
      {
        personal.map(({ details, source }) => (
          <Card titleLabel="project" {...details}>
            {source && (
              <footer slot="footer">
                <MediaLink href={source.href} icon="mdi:github-box">
                  {source.label}
                </MediaLink>
              </footer>
            )}
          </Card>
        ))
      }
    </div>
  </PageSection>
  <PageSection title="works.agency" subtitle="Latest agency projects">
    <div class="p-stack p-stack--near">
      {
        works.map(({ details, media }) => (
          <Card titleLabel="project" {...details}>
            {media && (
              <footer slot="footer">
                <ul
                  class="p-cluster"
                  style={{ '--s': 1 }}
                  aria-label={`Resources related to ${details.title}`}
                >
                  {media.map(({ label, ...props }) => (
                    <li>
                      <MediaLink {...props}>{label}</MediaLink>
                    </li>
                  ))}
                </ul>
              </footer>
            )}
          </Card>
        ))
      }
    </div>
  </PageSection>
</Page>
