---
import '../styles/tokens.css';
import '../styles/global.css';
import '../styles/utility.css';
import Burger from '../components/Burger.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import Nav from '../components/Nav.astro';
import Cluster from '../components/Cluster.astro';
import { THEME_DEFAULT } from '../shared/constants';
import Box from '../components/Box.astro';
const socialImageURL = new URL('/marco-og.jpg', Astro.url);

interface Props {
  title?: string;
  description?: string;
  withCover?: boolean;
}

const {
  title = 'Marco Solazzi - UI Web Developer',
  description = 'Personal Website of Marco Solazzi - UI Web Developer',
  withCover = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <meta name="theme-color" content="#ffffff" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Marco Solazzi - UI Web Developer"
      href={new URL('rss.xml', Astro.site)}
    />
    <style>
      /* bree-serif-latin-400-normal */
      @font-face {
        font-family: 'Bree Serif';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url('@fontsource/bree-serif/files/bree-serif-latin-400-normal.woff2')
          format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* open-sans-latin-wght-normal */
      @font-face {
        font-family: 'Open Sans Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 800;
        src: url('@fontsource-variable/open-sans/files/open-sans-latin-wght-normal.woff2')
          format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* open-sans-latin-wght-italic */
      @font-face {
        font-family: 'Open Sans Variable';
        font-style: italic;
        font-display: swap;
        font-weight: 300 800;
        src: url('@fontsource-variable/open-sans/files/open-sans-latin-wght-italic.woff2')
          format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('https://fonts.gstatic.com/s/notosansjp/v52/-F6jfjtqLzI2JPCgQBnw7HFyzSD-AsregP8VFPYk757Y0rw_qMHVdbR2L8Y9QTJ1LwkRmR5GprQAe69m.119.woff2')
          format('woff2');
        unicode-range: U+3053, U+3093, U+306B, U+3061, U+306F, U+0021;
      }
    </style>
    <slot name="head" />
  </head>
  <body>
    <Box as="header" class="l-header" id="header">
      <slot name="header" />
      <Cluster class="l-header__controls" space={1.5}>
        <div class="u-from-tablet-landscape">
          <Nav layout="inline" />
        </div>
        <ThemeSwitcher />
        <div class="u-until-tablet-landscape">
          <Burger />
        </div>
      </Cluster>
      <div class="u-until-tablet-landscape">
        <Nav />
      </div>
    </Box>
    <main class="l-main" class:list={[{ 'l-main--cover': withCover }]}>
      {withCover && <slot name="cover" />}
      <slot />
    </main>
    <footer class="l-footer">
      © 2017-{new Date().getFullYear()} Marco Solazzi - <a
        href="https://github.com/dwightjack/marco.solazzi.me/blob/main/LICENSE.md"
        target="_blank"
        rel="noopener noreferrer">license</a
      >&nbsp<a
        href="https://github.com/dwightjack/marco.solazzi.me"
        target="_blank"
        rel="noopener noreferrer">source</a
      >
      <div class="u-visuallyhidden" role="status" id="status"></div>
    </footer>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      is:inline
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "e823928d086c46c79b455943ff15d296"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
<style>
  @layer layout {
    body {
      display: flex;
      flex-direction: column;
      min-block-size: 100dvh;
    }

    .l-header {
      position: fixed;
      z-index: var(--layer-f5);
      inline-size: 0;
      inset-block-start: 0;
      inset-inline-end: 0;

      @media (--viewport-tablet-landscape) {
        inline-size: auto;
      }
    }

    .l-header__controls {
      position: absolute;
      z-index: var(--layer-f1);
      align-items: center;
      inline-size: max-content;
      inset-block-start: 1.75rem;
      inset-inline-end: 1.75rem;

      @media (--viewport-tablet-landscape) {
        position: static;
        padding-block-start: 1.75rem;
        padding-inline-end: 1.75rem;
        background-color: color-mix(
          in oklch,
          var(--box-color-background),
          transparent 10%
        );
        box-shadow: color-mix(
            in oklch,
            var(--box-color-background),
            transparent 10%
          )
          0 0 1.75rem 1.75rem;
      }
    }

    .l-main {
      flex-grow: 1;
      padding-block-end: calc(var(--space-2) * 6.25);
    }

    .l-main:not(.l-main--cover) {
      padding-block-start: calc(var(--space-2) * 6.25);
    }

    .l-footer {
      padding-block-end: var(--space-4);
      font-size: var(--text-footer-font-size);
      text-align: center;
    }
  }
</style>
<script is:inline define:vars={{ THEME_DEFAULT }}>
  document.documentElement.dataset.theme =
    localStorage.getItem('theme') || THEME_DEFAULT;
</script>
<script>
  import { THEME_DEFAULT, type Themes } from '../shared/constants';
  import { menuExpanded, theme } from '../shared/store';

  const header = document.getElementById('header');

  function hideNav(e: KeyboardEvent | MouseEvent) {
    if ((e as KeyboardEvent).key === 'Escape') {
      menuExpanded.set(false);
      return;
    }
    if (header && !header.contains(e.target as Node)) {
      menuExpanded.set(false);
    }
  }

  // force close the offscreen navigation
  // when the viewport is small
  window
    .matchMedia('(width >= 64em)')
    .addEventListener('change', ({ matches }) => {
      if (matches) {
        menuExpanded.set(false);
      }
    });

  menuExpanded.subscribe((expanded) => {
    if (!header) {
      return;
    }
    if (expanded) {
      header.dataset.swatch = 'brand';
      document.addEventListener('click', hideNav);
      document.addEventListener('keyup', hideNav);
      return;
    }
    delete header.dataset.swatch;
    document.removeEventListener('click', hideNav);
    document.removeEventListener('keyup', hideNav);
  });

  theme.listen((theme) => {
    localStorage.setItem('theme', theme);
    document.documentElement.dataset.theme = theme;

    document.getElementById('status')!.textContent = `Current theme: ${theme}`;
  });

  theme.set(
    (document.documentElement.dataset.theme as Themes) || THEME_DEFAULT,
  );
</script>
